# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/PS3Tools.sdf
/PS3Tools.v11.suo
/PS3Tools.opensdf
/ipch
/Debug
/CommonLib/Debug
/PFDReader/Debug
/SFOReader/Debug
